html, body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

#map {
    flex: 1;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

.leaflet-bar i {
    line-height: 26px;
    color: #404040;
}

.toolbar-button {
    width: 100%;
    height: 50px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    text-align: left;
    padding-left: 15px; /* Adjust padding as needed */
}


.sidebar {
    position: absolute;
    top: 0;
    left: 50px; /* The width of the toolbar */
    width: 0;
    height: 100vh;
    background-color: rgba(240,240,240,0.9); /* 240,240,240 */
    overflow-y: auto;
    transition: width 0.3s ease;
    z-index: 2;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.sidebar li {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin: 5px 0;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.sidebar input[type="checkbox"] {
    margin-right: 10px;
}

.sidebar label {
    margin: 0;
}

.create-button {
    display: block;
    width: calc(100% - 40px); /* Full width minus padding */
    margin: 10px 20px; /* 20px sides margin and 10px top/bottom */
    padding: 10px 20px;
    background-color: #4CAF50; /* Example button color */
    color: white; /* Text color */
    border: none;
    border-radius: 15px; /* Adjust this value to increase or decrease the roundness of the corners */
    cursor: pointer;
    font-size: 1em; /* Adjust as needed */
    transition: background-color 0.3s; /* Smooth background color transition on hover */
}

.create-button:hover {
    background-color: #45a049; /* Slightly darker shade on hover */
}

.icon-container {
    margin-left: auto;
    display: flex;
}

.edit-icon, .delete-icon {
    padding: 5px;
    margin: 0 5px;
    border-radius: 5px; /* Rounded corners for the icon buttons */
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth background color transition */
}

.edit-icon:hover {
    background-color: #e7e7e7; /* Light grey background on hover for edit icon */
}

.delete-icon {
    color: red; /* Make the trashcan icon red */
}

.delete-icon:hover {
    background-color: #fbecec; /* Light red background on hover for delete icon */
}


#login-dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* Dimmed background */
    z-index: 1000;
    display: none;
}

#login-dialog {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px; /* Rounded corners for the dialog */
    width: 300px; /* Fixed width, you can adjust as needed */
}

#login-header {
    background-color: #006400; /* Dark green background */
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 8px 8px 0 0; /* Rounded corners for the header */
    position: relative;
}

#login-header img {
    position: absolute;
    right: 20px;
    top: 20px;
}

#login-form {
    text-align: center;
    padding-top: 20px;
}

#login-form input {
    margin-bottom: 10px;
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#forgot-password {
    color: #009688; /* Teal color for the link */
    cursor: pointer;
    margin: 10px 0;
}

#login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ff4500; /* Orange-red color for the button */
    color: white;
    cursor: pointer;
}


@supports (-webkit-touch-callout: none) {
    #container {
      height: 100%;
      max-height: -webkit-fill-available !important;
    }
  }

@media screen and (orientation: landscape) {
    #toolbar {
        flex: none;
        flex-direction: column;
        margin: auto;
        width: 50px;
        height: calc(var(--vh, 1vh) * 100);
        background-color: #333;
        text-align: center
    }
}

/* Styles for screens with a max-width of 768px (typically tablets and below) */
@media screen and (orientation: portrait) {
    #container {
        flex-direction: column-reverse;
    }

    #toolbar {
        z-index: 3;
        flex: none;
        flex-direction: row;
        margin: auto;
        width: 100vw;
        height: 50px;
        background-color: #333;
    }
}
